<div class="status_section">
	<div class="preview"></div>
</div>
<div class="group_fields">
	<label for="display_mode">{{writeString=wns.display_mode}}</label>
	<select name="display_mode" class="ui-widget-content"></select>
</div>
<div class="group_fields">
	<label for="domains">{{writeString=video_player.domains}}</label>
	<select class="ui-widget-content autowidth" type="text" name="domains"></select>
</div><br />
<div class="group_fields">
	<label for="link_category_id" class="validate-link_category_id_required">{{writeString=video_player.link_category}}</label>
	<select name="link_category_id" class="ui-widget-content autowidth"></select>
</div>
<div class="group_fields list_options">
	<label for="sort_field">{{writeString=video_player.sort_field}}</label>
	<select name="sort_field" class="ui-widget-content autowidth"></select>
</div>
<br />
<div class="group_fields link_options">
	<label for="link_id">{{writeString=video_player.link}}</label>
	<select name="link_id" class="ui-widget-content "></select>
</div>
<ol class="ui-editable-items-list"></ol>
