
*[data-widget-type="video_player_frontend_config"] .status_section {
	width: 21em;
}
*[data-widget-type="video_player_frontend_config"] .ui-editable-items-list {
	margin-right: 25.5em;
	margin-bottom: 2em;
}
*[data-widget-type="video_player_frontend_config"] .preview {
	width: 100%;
	height: 16em;
}
*[data-widget-type="video_player_frontend_config"] .preview iframe {
  width: 100%;
  height: 100%;
	border: none;
}
*[data-widget-type="video_player_frontend_config"] .ui-editable-items-list {
	margin-right: 25.5em;
	margin-bottom: 2em;
}
.ui-editable-items-list label {
	padding-left: 1em;
}
.ui-editable-items-list a.add-new-item {
	margin: 5px 0 0 15px;
	cursor: pointer;
}
