<div class="iframe-wrapper">
	<iframe class="player" data-player-id="{{player_id}}" src="{{src}}" data-video-id="{{video_id}}" data-domain="{{domain}}" data-time="{{time}}" allowfullscreen="allowfullscreen"></iframe>
</div>
{{play_list}}
