<h2>{{title}}</h2>
<div class="iframe-wrapper">
	<iframe class="player" src="{{src}}" data-player-id="{{player_id}}" data-video-id="{{video_id}}" data-domain="{{domain}}" data-time="{{time}}" data-embed-code="{{embed_code}}" allowfullscreen="allowfullscreen"></iframe>
</div>
