	<a href="{{href}}" {{if;1=\{\{is_in_player\}\};2=true}}class="is_in_player"{{endIf}} title="Play video {{name}}" data-video-id="{{video_id}}" data-domain="{{domain}}" data-time="{{time}}" data-embed-code="{{embed_code}}">{{name}}</a>
