<div class="iframe-wrapper">
		<iframe class="player" id="player{{player_id}}" src="{{src}}" data-video-id="{{video_id}}" data-domain="{{domain}}" data-time="{{time}}" data-embed-code="{{embed_code}}" allowfullscreen="allowfullscreen"></iframe>
</div>